<%- include('../partials/header.ejs')%>

    <main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

        <script>   

            $(document).ready(function() {
            $("#bidding").validate({
            rules: {
           
                bid_amount: {
                    required: true,
                    number: true,
                    min: 1
                    }
                }
            });
            });
        </script>
        <div class="eventDesc">
            <h3><%= event.title%></h3>
            <br>
            <div class="eventInfo">
                <img class="itemImg" src="<%= event.imageURL%>" alt="<%= event.title%>">
                <p> Host Name: <%= event.host.firstName + ' ' + event.host.lastName%>
                    <br>
                    Date: <%= event.eventDate%>
                    <br>
                    Time: <%= event.startTime%> - <%= event.endTime%>
                    <br>
                    Location: <%= event.address%>
                    <br>
                    City: <%= event.city%>
                    <br>
                    Details: <%= event.details%>
                </p>       
            </div>
            <%if(user== event.host._id){%>
                <form>
                    <button class="editBtn" type="submit" formmethod="GET" formaction="/events/<%= event.id%>/edit">Edit</button>
                    <button class="editBtn" type="submit" formmethod="POST" formaction="/events/<%= event.id%>?_method=DELETE">Delete</button>
                </form>
            <%}else {%>
                <form>
                    
                    <button class="editBtn" type="text" formmethod="POST" formaction="/events/<%= event.id%>??rsvp=yes">Yes</button>
                 
                </form>
    
            <%}%>            
                
        </div>
        <div>
            <form id="bidding">
                <div class="formElement">
                    <label for="bid_amount">Bid Amount</label>
                    <input type="text" id="bid_amount" name="bid_amount" class = "fixed-width" required>
                </div>                    
                <div >
                    <button class="submitBtn" type="submit" formmethod="post" formaction="/events/<%= event.id%>/bid" >Save Bid Amount</button>
                </div>        
            </form>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>
