<%- include('../partials/header.ejs')%>
    <main>
        <div>
            <h2>User Dashboard</h2>

            <%if((userRole === 'SuperAdmin' && users.length>1)||(userRole !== 'SuperAdmin' && users.length>2)){%>
                <div class="table">
                    <table class="profile">
                        <tr>
                            <th>Users</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                        <%users.forEach(user=>{
                            if( user._id != userId && user.role !== 'SuperAdmin' ){%>
                            <tr>
                                <td><%=user.firstName +' '+user.lastName%></td>
                                <td><%=user.role%></td>
                                <td>
                                    <%if(userRole === 'SuperAdmin'){
                                        if(user.role==='Admin'){%>
                                            <form>
                                                <button class="submitBtn" type="submit" formmethod="POST" formaction="/users/<%= user.id%>/removeAdmin">Remove Admin</button>
                                            </form>
                                        <%}else{%> 
                                            <form>
                                                <button class="submitBtn" type="submit" formmethod="POST" formaction="/users/<%= user.id%>/makeAdmin">Make Admin</button>
                                                <button class="submitBtn" type="submit" formmethod="POST" formaction="/users/<%= user.id%>/removeUser">Remove User</button>
                                            </form>
                                    <%}}else{%>
                                        <form>
                                            <button class="submitBtn" type="submit" formmethod="POST" formaction="/users/<%= user.id%>/removeUser">Remove User</button>
                                        </form>
                                    <%}%>
                                </td>
                            </tr>
                        <%}});%>
                    </table>
                </div>
            <%}else{%>
                <p> You currently have no users to be displayed!</p>
            <%}%>
        </div>

        <div>
            <h2>User Reports</h2>
            <%if(reports.length>0){%>
                <div class="table">
                    <table class="profile">
                        <tr>
                            <th>Event</th>
                            <th>Reported by</th>
                            <th>Report Message</th>
                            <th>Actions</th>
                        </tr>
                        <%reports.forEach(report=>{%>
                            <tr>
                                <td><a href = '/events/<%=report.eventid._id%>'><%=report.eventid.title%></a></td>
                                <td><%=report.reportedby.firstName+' '+report.reportedby.lastName%></td>
                                <td><%=report.reportmessage%></td> 
                                <td>
                                    <form>
                                        <button class="submitBtn" type="submit" formmethod="post" formaction="/events/<%= report.id%>/reportIgnore">Ignore</button>
                                        <button class="submitBtn" type="submit" formmethod="POST" formaction="/events/<%= report.eventid._id%>/removeEvent">Delete event</button>
                                    </form>
                                </td>
                            </tr>
                        <%});%>
                    </table>
                </div>
            <%}else{%>
                <p> You currently have no reports to be displayed!</p>
            <%}%>
        </div>

    </main>
<%- include('../partials/footer.ejs')%>